[submodule "benchmark"]
	path = benchmark
	url = https://gitlab.com/yguang1/benchmark_qce.git
[submodule "gateware"]
	path = gateware
	url = https://gitlab.com/yguang1/gateware.git
	branch = feat/ddr_mem
[submodule "software"]
	path = software
	url = https://gitlab.com/yguang1/software.git
	branch = feat/ddr_mem
